<div class="center-div">
  <div class="auth-container">
    <article class="auth-content">
      <div class="auth-form-content">
        <form class="auth-form" [formGroup]="loginFormGroup" (ngSubmit)="login()">
          <h1 class="logo">bolão&lt;copadomundo/&gt;</h1>
          <fieldset class="auth-fieldset">
            <legend class="subtitle-auth">Entrar na conta</legend>

            <label class="label-text" for="email">Email</label>
            <input formControlName="email" class="form-input" type="text" id="email" name="email" placeholder="Digite seu email">
            <app-validation-message *ngIf="loginFormGroup.get('email')?.errors?.['required'] && loginFormGroup.get('email')?.touched" message="Email obrigatório."></app-validation-message>
            <app-validation-message *ngIf="loginFormGroup.get('email')?.errors?.['email'] && loginFormGroup.get('email')?.touched" message="Email no formato incorreto."></app-validation-message>

            <label class="label-text" for="senha">Senha</label>
            <input formControlName="password" class="form-input" type="password" id="senha" name="senha" placeholder="Digite sua senha">
            <app-validation-message *ngIf="loginFormGroup.get('password')?.errors?.['required'] && loginFormGroup.get('password')?.touched" message="Senha obrigatória."></app-validation-message>
            <a [routerLink]="['/auth', 'email-password-reset']" class="forgot-password-text">Esqueceu sua senha?</a>

            <button [disabled]="loginFormGroup.invalid" class="button" type="submit">Entrar</button>
            <p class="register-text">Ainda não tem uma conta? <a [routerLink]="['/auth', 'register']" class="register-link-text">Registre-se.</a></p>
          </fieldset>
        </form>
      </div>
      <div class="img-wrapper"></div>
    </article>
  </div>
</div>