<div class="center-div">
  <div class="auth-container">
    <article class="auth-content">
      <div class="auth-form-content">
        <form class="auth-form">
          <h1 class="logo">bolão&lt;copadomundo/&gt;</h1>
          <fieldset class="auth-fieldset">
            <legend class="subtitle-auth">Entrar na conta</legend>

            <label class="label-text" for="email">Email</label>
            <input class="form-input" type="text" id="email" name="email" placeholder="Digite seu email">

            <label class="label-text" for="senha">Senha</label>
            <input class="form-input" type="password" id="senha" name="senha" placeholder="Digite sua senha">
            <a class="forgot-password-text">Esqueceu sua senha?</a>

            <button class="invalid-button" type="submit">Entrar</button>
            <p class="register-text">Ainda não tem uma conta? <a class="register-link-text">Registre-se.</a></p>
          </fieldset>
        </form>
      </div>
      <div class="img-wrapper"></div>
    </article>
  </div>
</div>