<div class="center-div">
  <div class="auth-container">
    <article class="auth-content">
      <div class="auth-form-content">
        <form class="auth-form">
          <h1 class="logo">bolão&lt;copadomundo/&gt;</h1>
          <fieldset class="auth-fieldset">
            <legend class="subtitle-auth">Registrar-se</legend>

            <label class="label-text" for="apelido">Apelido</label>
            <input class="form-input" type="text" id="apelido" name="apelido" placeholder="Digite seu apelido">

            <label class="label-text" for="email">Email</label>
            <input class="form-input" type="text" id="email" name="email" placeholder="Digite seu email">

            <label class="label-text" for="senha">Senha</label>
            <input class="form-input" type="password" id="senha" name="senha" placeholder="Digite sua senha">

            <button class="button button-margin" type="submit">Criar conta</button>
            <p class="register-text">Já tem uma conta? <a class="register-link-text">Fazer login.</a></p>
          </fieldset>
        </form>
      </div>
      <div class="img-wrapper"></div>
    </article>
  </div>
</div>