<div class="menu-border">
  <nav class="menu-container">
    <ul class="links-container">
      <li><a class="menu-link" [routerLink]="['/matches']" routerLinkActive="active">Partidas</a></li>
      <li><a class="menu-link" [routerLink]="['/ranking']" routerLinkActive="active">Ranking</a></li>
    </ul>
    <ul class="profile-container">
      <li>
        <div class="profile">
          <p class="nickname">
            {{ jwt.nickname }}
          </p>
          <p class="user-points">
            {{ jwt.points }} PTS
          </p>
        </div>
      </li>
      <li>
        <div class="admin-buttons">
          <button (click)="logout()" class="admin-button">
            <img src="assets/menu/logout.svg" alt="" width="16" height="16">
            <span class="button-text">Sair</span>
          </button>
          <button *ngIf="userIsAdmin()" [routerLink]="['/back-office']" routerLinkActive="active-admin-button" class="admin-button">
            <img src="assets/menu/back-office-icon.svg" alt="" width="15" height="16">
            <span class="button-text">Back-office</span>
          </button>
        </div>
      </li>
    </ul>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>