<div class="center-div">
  <div class="single-auth-container">
    <article class="single-auth-content">
      <div class="auth-form-content">
        <form class="auth-form" [formGroup]="passwordFormGroup" (ngSubmit)="resetPassword()">
          <h1 class="logo">bolão&lt;copadomundo/&gt;</h1>
          <fieldset class="auth-fieldset">
            <legend class="subtitle-auth">Redefinir senha</legend>

            <label class="label-text" for="password">Nova senha</label>
            <input formControlName="password" class="form-input" type="password" id="password" name="password" placeholder="Digite a nova senha">
            <app-validation-message *ngIf="passwordFormGroup.get('password')?.errors?.['required'] && passwordFormGroup.get('password')?.touched" message="Nova senha obrigatória."></app-validation-message>
            <app-validation-message *ngIf="passwordFormGroup.get('password')?.errors?.['minlength'] && passwordFormGroup.get('password')?.touched" message="A senha deve conter mais de 8 caracteres."></app-validation-message>
            <app-validation-message *ngIf="passwordFormGroup.errors?.['samePassword']" message="As duas senhas devem ser iguais."></app-validation-message>

            <label class="label-text" for="confirmed-password">Confirme sua nova senha</label>
            <input formControlName="confirmedPassword" class="form-input" type="password" id="confirmed-password" name="confirmed-password" placeholder="Digite novamente a senha">
            <app-validation-message *ngIf="passwordFormGroup.get('confirmedPassword')?.errors?.['required'] && passwordFormGroup.get('confirmedPassword')?.touched" message="Confirmação da nova senha obrigatória."></app-validation-message>
            <app-validation-message *ngIf="passwordFormGroup.get('confirmedPassword')?.errors?.['minlength'] && passwordFormGroup.get('confirmedPassword')?.touched" message="A senha deve conter mais de 8 caracteres."></app-validation-message>
            <app-validation-message *ngIf="passwordFormGroup.errors?.['samePassword']" message="As duas senhas devem ser iguais."></app-validation-message>

            <button class="button button-margin" type="submit">Alterar senha</button>
          </fieldset>
        </form>
      </div>
    </article>
  </div>
</div>