<div class="center-div">
  <div class="single-auth-container">
    <article class="single-auth-content">
      <div class="auth-form-content">
        <form class="auth-form">
          <h1 class="logo">bolão&lt;copadomundo/&gt;</h1>
          <fieldset class="auth-fieldset">
            <legend class="subtitle-auth">Redefinir senha</legend>

            <label class="label-text" for="nova-senha">Nova senha</label>
            <input class="form-input" type="password" id="nova-senha" name="nova-senha" placeholder="Digite a nova senha">

            <label class="label-text" for="confirmacao">Confirme sua nova senha</label>
            <input class="form-input" type="password" id="confirmacao" name="confirmacao" placeholder="Digite novamente a senha">

            <button class="button button-margin" type="submit">Alterar senha</button>
          </fieldset>
        </form>
      </div>
    </article>
  </div>
</div>