@import "mixins";
@import "variables";

.back-office-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.back-office-links {
  display: flex;
  gap: 1rem;
}

.back-office {
  display: block;
  @include button-style($red-gradient, $primary-color-9);
  @include small-button-text;
  padding: 12px 24px;
}

.back-office-active {
  color: $white;
}
