@import "reset";
@import "variables";
@import "mixins";
@import "auth";
@import "menu";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::placeholder {
  color: $grayscale-color-6;
  opacity: 1;
}

body {
  background-color: $grayscale-color-9;
}

.container {
  max-width: 1440px;
  margin: 2.5rem auto;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.button:disabled {
  cursor: default;
  pointer-events: none;
  @include button-text;
  @include button-style($gray-gradient, $grayscale-color-6);
}

.button {
  @include button-text;
  @include button-style($red-gradient, $primary-color-8);
  cursor: pointer;
  transition: 0.5s ease-out;
}
