<div class="center-div">
  <div class="single-auth-container">
    <article class="single-auth-content">
      <div class="auth-form-content">
        <form class="auth-form">
          <h1 class="logo">bolão&lt;copadomundo/&gt;</h1>
          <fieldset class="auth-fieldset">
            <legend class="subtitle-auth">Verifique seu email</legend>

            <p class="email-text">Digite o código que enviamos para o email:<br><em>usuario@usuario.com</em></p>

            <label class="label-text" for="código">Código</label>
            <input class="form-input" type="text" id="código" name="código" placeholder="Digite o código recebido por email">
            <a class="forgot-password-text">Reenviar o código</a>

            <button class="valid-button" type="submit">Verificar</button>
          </fieldset>
        </form>
      </div>
    </article>
  </div>
</div>